@font-face {
    font-family: yeseva-one;
    src: url(./fonts/YesevaOne-Regular.ttf);
}

* {
    font-family: yeseva-one;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* Left */

#left-container {
    display: grid;
    height: 100vh;
    width: 40vw;
    background-color: #cccccc;
    background-image: url(./images/leftpic.jpg);
    background-size: cover;
    overflow: hidden;
}

.left-banner {
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    height: 20vh;
    background-color: rgba(255,255,255,0.5);
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large
}

/* Right */

#right-container {
    display: grid;
    height: 100vh;
    width: 60vw;
    background-image: linear-gradient(to left,#F2EAD8,white);
}

    /* Greeting Section */

#r1 {
    height: 30vh;
    width: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.g1 {
    margin-top: 8vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.g2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    font-size: 1.5rem;
}

    /* Form Section */

#r2 {
    display: flex;
    justify-content: center;
    height: 35vh;
    width: auto;
    background-color:floralwhite;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

legend {
    font-size: 1.3rem;
}

fieldset>* {
    display: flex;
    gap: 10rem;
}
fieldset>*>* {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

label {
    position: relative;
    width: 15rem;
    margin-bottom: 15px;
}

    /* Bottom Section */
#r3 {
    display: grid;
    justify-items: flex-start;
    align-content: center;
    height: 35vh;
    width: auto;
    font-size: x-large;
    margin-left: 4vw;
}

button[type='submit'] {
    font-size: 1.7rem;
    background-color: rgb(220, 214, 157);
    color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

button[type='submit']:hover {
    background-color: rgb(219, 210, 124);
}

a {
    text-decoration: none;
    color: rgb(220, 214, 157);
}